[Unit]
Description=rKlipperScreen Slint Frontend for Klipper
After=udev.target network-online.target moonraker.service
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/rKlipperScreen
ExecStart=/home/pi/rKlipperScreen/rklipperscreen
Restart=on-failure
RestartSec=5
Environment=DISPLAY=:0
Environment=SLINT_BACKEND=linuxkms

[Install]
WantedBy=graphical.target